.btn {
  width: 70%;
  height: 3.2rem;
  font-size: 1rem;
  border: transparent;
  border-radius: 2rem;
  align-self: center;
  color: white;
  background-image: linear-gradient(to bottom,
      $color-secondary,
      $color-primary );
  @include shadow;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 17px -4px rgba(0, 0, 0, 1);
  transition: 0.5s ease;
}