/* Bouton page d'accueil */
.btn {
  width: 60%;
  height: 3.2rem;
  font-size: 1rem;
  border: transparent;
  border-radius: 2rem;
  align-self: center;
  color: $color-txt-foot;
  background-image: linear-gradient(to bottom,
      $color-secondary,
      $color-primary );
  @include shadow;
  cursor: pointer;

  @media (min-width: 1000px) {
    width: 25%;
  }
}

/* Bouton page restaurants */
.btn__order {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

/* Effet au survol des boutons */
.btn:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 17px -4px rgba(0, 0, 0, 1);
  transition: 0.5s ease;
}