.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background-location;
  border-top: 3px solid darken($color-background-location, 10%);
  padding: 1rem 0;
  font-size: 1.2rem;
  overflow: hidden;
}

.location i {
  padding-left: 3rem;
  margin-left: 1.2rem;
}

.location input {
  padding-left: 1.5rem;
  border: none;
  background-color: $color-background-location;
}

.location input:focus {
  border: none;
  outline: none;
}

/* Booking*/

.booking__background {
  background-color: $color-background1;
}

.booking {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;

  p {
    font-size: 1.1rem;
    color: $color-background-footer;
  }

  a {
    margin-top: 1rem;
  }
}

/* Working */

.working {
  width: 90%;
  height: 20rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.working h2 {
  margin-bottom: 2rem;
}

.working__menu {
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.working__area {
  width: 95%;
  height: 4rem;
  display: flex;
  @include shadow;
  align-items: center;
  background-color: $color-background1;
  border-radius: 1rem;
  position: absolute;
  left: 0.88rem;

  span {
    font-weight: bold;
  }

  &:hover {
    background-color: lighten($color-primary, 35%);

    i {
      color: $color-primary;
    }
  }
}

.circle {
  background-color: $color-primary;
  color: white;
  width: 1.4rem;
  line-height: 1.4rem;
  border-radius: 50%;
  text-align: center;
  font-size: 0.9rem;
  z-index: 2;
}

.working__icon {
  color: #858282;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Restaurants */

.restaurants {
  background-color: $color-background1;
  height: 100%;
}

.restaurants h2 {
  padding-top: 3rem;
  padding-left: 1rem;
}

.restaurants__cards {
  width: 90%;
  margin: 2rem auto;
  border-radius: 1.5rem;
  @include shadow;
}

.card__img {
  height: 10rem;
  position: relative;
}

.new {
  position: absolute;
  top: 10%;
  right: 4%;
  background-color: $color-tertiary;
  color: darken($color-tertiary, 32%);
  font-weight: bold;
  padding: 0.5rem 0.8rem;
}

.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}

.img__1 img {
  object-position: 50% 60%;
}

.img__2 img {
  object-position: 50% 60%;
}

.img__3 img {
  object-position: 50% 90%;
}

.img__4 img {
  object-position: 50% 90%;
}

.card__body {
  position: relative;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 0 0 1.5rem 1.5rem;

  h3,
  span {
    margin: 0.25rem 0;
  }

  .checkbox {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    &__input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  i {
    position: absolute;
    font-size: 2rem;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .fas {
    color: transparent;
    @include gradient(1);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1s ease-in-out;

    &:hover {
      animation: anim-heart 1s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

    }



  }
}

.checkbox__input:checked+.far {
  color: transparent;
  @include gradient(1);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
}