.location {
  display: flex;
  align-items: center;
}

.restaurants__cards {
  width: 90%;
  margin: 0 auto 2rem auto;
}

.card__img {
  height: 12rem;
}
.card__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img__1 img {
  object-position: 50% 60%;
}

.img__2 img {
  object-position: 50% 60%;
}

.img__3 img {
  object-position: 50% 90%;
}

.img__4 img {
  object-position: 50% 90%;
}
.card__body {
  display: flex;
}
