/* Location */

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background-location;
  border-top: 3px solid darken($color-background-location, 10%);
  padding: 1rem 0;
  font-size: 1.2rem;
  overflow: hidden;

  i {
    padding-left: 3rem;
    margin-left: 1.2rem;
  }

  input {
    padding-left: 1.5rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

/* Booking*/

.booking {
  background-color: $color-background1;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;

  p {
    font-size: 1.1rem;
    color: $color-background-footer;
  }

  a {
    margin-top: 1rem;
  }
}

/* Working */

.working {
  width: 90%;
  height: 20rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h2 {
    margin-bottom: 2rem;
  }

  &__menu {
    height: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
  }

  &__area {
    width: 95%;
    height: 4rem;
    display: flex;
    @include shadow;
    align-items: center;
    background-color: $color-background1;
    border-radius: 1rem;
    position: absolute;
    left: 0.88rem;
    transition: all 0.3s ease-in-out;


    span {
      font-weight: bold;
    }

    &:hover {
      background-color: lighten($color-primary, 35%);

      i {
        color: $color-primary;
      }
    }

    .circle {
      background-color: $color-primary;
      color: $color-txt-foot;
      width: 1.4rem;
      line-height: 1.4rem;
      border-radius: 50%;
      text-align: center;
      font-size: 0.9rem;
      z-index: 2;
    }

    .working__icon {
      color: $color-icon;
      font-size: 1.4rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-width: 1000px) {
      width: 100%;
      display: block;
      height: 10rem;
      text-align: center;
      margin: 0;

      h2 {
        margin-top: 2rem;
      }

      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          width: 75%;
          display: flex;
          justify-content: space-evenly;
        }
      }

      .working__menu {
        display: flex;
        margin: 0;
        height: 4rem;
        width: 90%;
      }

      .working__area {
        position: static;
        width: 100%;
      }
    }
  }
}

/* Restaurants */

.restaurants {
  background-color: $color-background1;
  height: 100%;

  @media (min-width: 1000px) {
    .restaurants__list {
      display: flex;
      flex-wrap: wrap;
    }

    .restaurants__cards {
      width: 40%;
    }

  }

  h2 {
    padding-top: 3rem;
    padding-left: 1rem;

    @media (min-width: 1000px) {
      text-align: center;
      padding-left: 0;
    }

  }

  &__cards {
    width: 90%;
    margin: 2rem auto;
    border-radius: 1.5rem;
    @include shadow;

    .card__body {
      position: relative;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      background-color: white;
      border-radius: 0 0 1.5rem 1.5rem;

      h3,
      span {
        margin: 0.25rem 0;
      }
    }
  }

  .card__img {
    height: 10rem;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem 1.5rem 0 0;
    }

    .new {
      position: absolute;
      top: 10%;
      right: 4%;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 32%);
      font-weight: bold;
      padding: 0.5rem 0.8rem;
    }
  }

  .img__1 img {
    object-position: 50% 60%;
  }

  .img__2 img {
    object-position: 50% 60%;
  }

  .img__3 img {
    object-position: 50% 90%;
  }

  .img__4 img {
    object-position: 50% 90%;
  }

  /* Hearts */

  .checkbox--custom {
    position: absolute;
    right: 1.9rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;

    i {
      cursor: pointer;

      &:hover {
        @include custom;
        animation: anim-heart 3s ease-in-out;
        transition: all 2s ease-in-out;
      }
    }
  }

  .checkbox--custom input[type="checkbox"],
  .checkbox--custom .checked {
    display: none;
  }

  .checkbox--custom input[type="checkbox"] {
    font-size: 2rem;

    &:checked~.checked {
      display: inline-block;
      @include custom;
    }

    &:checked~.unchecked {
      display: none;
    }
  }
}