@mixin gradient($opacity: 0.9) {
    background-image: linear-gradient(to top, rgba(147, 86, 220, $opacity), rgba(255, 121, 218, $opacity));
}

@mixin bg-gradient {
    background-image: linear-gradient(43deg, $color-primary 20%, $color-secondary 46%, $color-tertiary 100%);
}

/**
* Box shadow 
*! Sauf survol des boutons
*/
@mixin shadow {
    box-shadow: 2px 3px 12px -3px $light-grey;
}

@mixin custom {
    color: transparent;
    @include gradient(1);
    background-clip: text;
    -webkit-background-clip: text;
}


@mixin halfspin {
    @keyframes halfspin {
        0% {
            transform: rotate(-270deg);
        }

        100% {
            transform: rotate(0);
        }
    }
}