@mixin gradient($opacity: 0.9) {
    background-image: linear-gradient(to top, rgba(147, 86, 220, $opacity), rgba(255, 121, 218, $opacity));
}

@mixin shadow {
    box-shadow: 2px 3px 12px -3px $light-grey;
}


@mixin halfspin {
    @keyframes halfspin {
        0% {
            transform: rotate(-270deg);
        }

        100% {
            transform: rotate(0);
        }
    }
}