/* Colors */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-txt-foot: white;
$color-background1: #f6f6f6;
$color-background2: white;

/* Fonts */

$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;

/* Sizes */

$check-width: 4rem;