/* Colors */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-txt-foot: white;
$color-background1: #f6f6f6;
$color-background2: white;
$color-background-location: #e4e3e3;
$color-background-footer: #353535;
$light-grey: #7e7e7e;
$color-icon: #858282;

/* Fonts */

$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;

/* Sizes */
$check-ratio: 2rem;
$check-width: 4rem;