/* Colors */

/* Gradients, A Footer & Working Area & I Hover, Working Area Circle */
$color-primary: #9356dc;
/* Gradients */
$color-secondary: #ff79da;
/* Gradients, Hr,Accueil New, Restaurants Pages Menus Item Check & I */
$color-tertiary: #99e2d0;
/* Text Loader, Buttons, Footer A, Footer Text, Working Area Circle */
$color-txt-foot: white;
/* Loader, Booking, Working Area, Accueil Restaurants, Restaurants Pages H2,  Restaurants Pages Menus */
$color-background1: #f6f6f6;
/* Accueil Cards, Restaurants Pages Menus Item & I */
$color-background2: white;
/* Input Border box Location */
$color-background-location: #e4e3e3;
/* Footer,Footer P, Restaurants Pages H3 */
$color-background-footer: #353535;
/* Box Shadows */
$light-grey: #7e7e7e;
/* Working Icons */
$color-icon: #858282;

/* Fonts */

/* Text font */
$font-primary: "Roboto", sans-serif;
/* H1, Footer H2, Restaurants Pages H2 font */
$font-secondary: "Shrikhand", cursive;

/* Sizes */

/* Restaurants Pages Menus Item Check & I */
$check-ratio: 2rem;
/* Restaurants Pages Menus Item Check */
$check-width: 4rem;