footer {
  height: 12rem;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: rgb(28, 29, 28);
  color: white;
}
footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-style: oblique;
  font-weight: lighter;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__rubrics {
  height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
