footer {
  height: 12rem;
  margin: 4rem auto 0;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: $color-background-footer;
  color: $color-txt-foot;

  @media (min-width: 1000Px) {
    footer .container {
      width: 100%;
    }

    h2 {
      text-align: center;
      width: 100%;
    }

    .footer__rubrics {
      flex-direction: row;
      align-items: center;
    }


  }
}


footer .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1000Px) {
    width: 100%;
  }
}

footer h2 {
  font-family: $font-secondary;
  font-style: oblique;
  font-weight: lighter;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__rubrics {
  height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.footer__rubrics a {
  color: $color-txt-foot;
}

.footer__rubrics i {
  padding-right: 0.5rem;
}

.prop {
  padding-left: 0.4rem;
}

.footer__rubrics li:hover,
.footer__rubrics a:hover {
  color: $color-primary;
  transition: 0.3s ease-in-out;
}