footer {
  height: 12rem;
  margin: 0 auto;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: rgb(41, 41, 41);
  color: $color-txt-foot;
}


footer .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-family: $font-secondary;
  font-style: oblique;
  font-weight: lighter;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__rubrics {
  height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.footer__rubrics a {
  color: $color-txt-foot;
}

.footer__rubrics i {
  padding-right: 0.5rem;
}

.prop {
  padding-left: 0.4rem;
}