.loader {
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: $color-background1;
    opacity: 1;
    z-index: 3;
    animation: disappear 0.8s 5s forwards;
    perspective: 1000px;
    display: grid;
    place-items: center;

    .cube {
        text-align: center;
        position: relative;
        transform-style: preserve-3d;
        animation: spin 3s infinite ease-in-out;
        color: $color-txt-foot;
    }
}



.face {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 40px 0;
    @include bg-gradient;
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.front {
    transform: rotateX(0deg) translateZ(50px);
}

.back {
    transform: rotateX(-180deg) translateZ(50px);
}