/* Header */

/* Nav */

.restaurants__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1.5rem;
}

.nav__icon {
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}

/* Main */
.banner {
  img {
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
  }
}

.resto__title {
  margin-top: -2rem;
  position: relative;

  h2 {
    padding: 2rem 1rem;
    font-family: "Shrikhand", cursive;
    text-transform: uppercase;
    background: $color-background1;
    border-radius: 2rem 2rem 0 0;
  }

  i {
    position: absolute;
    font-size: 2rem;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .fas {
    color: transparent;
    @include gradient(1);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    // transition: all 1s ease-in-out;

    &:hover {
      animation: anim-heart 1s both;

    }
  }
}



/* Menus */

.menu {
  background-color: $color-background1;
  margin-top: -3rem;
  overflow: hidden;
  width: 100%;
}

.menu__title {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem 0 1.5rem 0;
  border-radius: 3rem 3rem 0 0;
}

.menu__title h2 {
  font-family: $font-secondary;
  padding-right: 2rem;

}

.restaurants__menu {
  width: 90%;
  margin: 0 auto;

  h3 {
    font-weight: lighter;
    color: $color-background-footer;
  }
}

hr {
  width: 14%;
  height: 0.25rem;
  background-color: $color-tertiary;
  border: none;
  margin-top: 0.5rem;
}

.menu__items__title {
  padding-top: 1.5rem;
  margin: 1.5rem 0;
}

.menus__item {
  @for $i from 1 through 4 {
    animation: appear 0.2s both;

    &:nth-child(#{$i}) {
      animation-delay: 0.5s * $i;
    }

    background-color: $color-background2;
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
    height: 4.5rem;
    margin-bottom: 1rem;
    @include shadow;

    .menus__item__description {
      padding: 0.1rem 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h4,
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .menus__item__price {
      margin-left: auto;
      font-weight: bold;
      padding: 0 1rem 1rem 1rem;
      display: flex;
      align-items: flex-end;
    }

    .menus__item__check {
      display: grid;
      flex-shrink: 0;
      place-items: center;
      border-radius: 0 1rem 1rem 0;
      background-color: $color-tertiary;
      margin-right: -$check-width;
      width: $check-width;
      transition: margin-right 0.5s;

      i {
        display: grid;
        place-items: center;
        background-color: $color-background2;
        color: $color-tertiary;
        aspect-ratio: 1;
        width: 2rem;
        border-radius: 1rem;
      }
    }

    &:hover {
      .menus__item__check {
        margin-right: 0;
      }

      i {
        @include halfspin;
        animation: halfspin 0.5s ease-in-out;
      }
    }
  }
}

.btn__order {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}