/* Header */

/* Nav */

.restaurants__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav__icon {
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}

/* Main */

.restaurants__img img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 17rem;
}
